<%= form_for(@newsletter, :html => { :class => "form-horizontal newsletter-form"}) do |f| %>
<% if @newsletter.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@newsletter.errors.count, "error") %> prohibited this newsletter from being saved:</h2>

  <ul>
    <% @newsletter.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


<fieldset id="general-settings">

  <legend>General Settings</legend>

  <div class="control-group">
    <%= f.hidden_field :id %>
    <%= f.label :topic %>
    <div class="controls">
      <%= f.text_field :topic, class: 'input-block-level' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :content %>
    <div class="controls">
      <%= f.text_area :content, class: 'newsletter_text' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :template_id %>
    <div class="controls">
      <%= f.collection_select(:template_id, @templates, :id, :name) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :author_id %>
    <div class="controls">
      <%= f.collection_select(:author_id, @authors, :id, :name) %>
    </div>
  </div>
  <div class="control-group">     
    <div class="controls">
      <%= f.hidden_field :show_outline? %>
      <%= f.button("Outline", {:class => @newsletter.show_outline ? 'btn active' : 'btn', :'data-toggle' => 'button', :type => 'button', :name => 'newsletter[show_outline]'}) %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.hidden_field :show_dividerline? %>
      <%= f.button("Divider Line", {:class => @newsletter.show_dividerline ? 'btn active' : 'btn', :'data-toggle' => 'button', :type => 'button', :name => 'newsletter[show_dividerline]'}) %>
    </div>
  </div>

</fieldset>




<%= render 'articles', f: f %>
<%= render 'sidearticles', f: f %>



<%= f.hidden_field :code %>
<div class="actions">
  <%= link_to("Save", {}, {:href => "#", :class => "submit btn btn-success save"}) %>
  <%= f.submit "Save and Exit", {:class => 'submit btn btn-success save-and-exit'} %>

</div>

<% end %>