%h1 Authors

%table.table.author-list.table-striped.table-hover#author_list
  %thead
    %tr
      %th Name
      %th Title
      %th Phone
      %th Email
      %th Image
      %th
      %th
      %th
  %tbody
    - @authors.each do |author|
      %tr
        %td= author.name
        %td= author.title
        %td= author.phone
        %td= author.email
        %td
          %img{ :src => author.image_url, :style => "width:75px;" }
        %td= link_to 'Show', author
        %td= link_to 'Edit', edit_author_path(author)
        %td= link_to 'Destroy', author, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to raw("<button class='btn'><i class='icon-plus-sign'></i> Create Author</button>"), new_author_path