%h1 Authors

%table.table.author-list.table-striped.table-hover#author_list
  %thead
    %tr
      %th Name
      %th Title
      %th Phone
      %th Email
      %th Image
      %th.actions
  %tbody
    - @authors.each do |author|
      %tr
        %td= author.name
        %td= author.title
        %td= author.phone
        %td= author.email
        %td
          %img{ :src => author.image_url, :style => "width:75px;" }
        %td
          =link_to raw('<button  class="btn btn-mini properties" title="Properties"><i class="icon-list"></i></button>'), author
          =link_to raw('<button  class="btn btn-mini edit" title="Edit"><i class="icon-pencil"></i></button>'), edit_author_path(author)
          =link_to raw('<button class="btn btn-mini danger delete" data-toggle="modal" title="Delete"><i class="icon-trash"></i></button>'), author, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to raw("<button class='btn'><i class='icon-plus-sign'></i> Create Author</button>"), new_author_path